<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Anton Aleksandrov - Who am I</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="top" class="container-xxl">
        <br/>
        <div class="row"> <!-- header -->
            <div class="col-12 col-lg-1">
                <br/>
                <img class="img-fluid" src="./images/anton-photo-small.jpeg" />
            </div>
            <div class="col-12 col-lg-5">
                <h1>Anton Aleksandrov</h1>
                <ul>
                    <li>2021-now, Principal Solutions Architect, Serverless and Event-driven architectures, AWS</li>
                    <li>2017-2021, Chief Architect, IBM Cloud Security / App Identity Services</li>
                    <li>2012-2017, Architect, IBM Cloud MobileFirst Platform</li>
                    <li>Prior to 2012, Software/Solutions Engineer</li>
                    <li>See <a href="https://www.linkedin.com/in/antonal80/" target="_blank">Linkedin</a> for details</li>
                </ul>
            </div>
            <div id="badges" class="col-12 col-lg-6">
                <p>
                    <img class="img-fluid" src="./images/badge-aws-sa.png" />
                    <img class="img-fluid" src="./images/badge-terraform-associate.png" />
                    <img class="img-fluid" src="./images/badge-hashi-ambassador.png" />
                    <img class="img-fluid" src="./images/badge-aws-serverless.png" />
                    <img class="img-fluid" src="./images/badge-ibm-developer.png" />
                    <img class="img-fluid" src="./images/badge-ibm-patents.png" />
                    <img class="img-fluid" src="./images/badge-onug.png" />
                </p>
            </div>
        </div>
        <div class="row"> <!-- highlights -->
            <h2>Highlights</h2>
            <div class="col text-center"> <!-- First card -->
                <a href="https://www.youtube.com/watch?v=FWxwfcI7FTA" class="text-decoration-none text-reset" target="_blank">
                    AWS re:Invent - Secure Multi-tenant SaaS with Lambda: A Tenant Isolation Deep Dive 
                    <br/>
                    <img src="./images/hl-lambda-tenant-isolation.png"/>
                    <br/>
                    Defined and reviewed isolation architectures used by multiple SaaS teams/customers
                </a>
                <br/>
                [
                <a href="https://www.youtube.com/watch?v=FWxwfcI7FTA" target="_blank">re:Invent talk</a>,
                <a href="https://aws.amazon.com/blogs/compute/building-multi-tenant-saas-applications-with-aws-lambdas-new-tenant-isolation-mode/" target="_blank">Article</a>,
                <a href="https://github.com/aws-samples/sample-lambda-tenant-isolation" target="_blank">Code</a>
                ]
            </div>
            <div class="col text-center"> <!-- Second card -->
                <a href="https://www.youtube.com/watch?v=GjWaLj4Y86U" class="text-decoration-none text-reset" target="_blank">
                    <img src="./images/hl-platform-engineering.png"/>
                    <br/>                
                    AWS re:Invent - Scaling Serverless with platform engineering: A blueprint for success
                </a>
                <br/>
                [
                <a href="https://www.youtube.com/watch?v=GjWaLj4Y86U" target="_blank">re:Invent talk</a>,
                <a href="https://aws.amazon.com/solutions/case-studies/cyberark-serverless-case-study/" target="_blank">Case study</a>,
                <a href="https://aws.amazon.com/blogs/architecture/how-cyberark-is-streamlining-serverless-governance-by-codifying-architectural-blueprints/" target="_blank">Article</a>
                ]
                </a>
            </div>
            <div class="col text-center"> <!-- Third card -->
                <a href="https://aws.amazon.com/blogs/compute/effectively-building-ai-agents-on-aws-serverless/" class="text-decoration-none text-reset" target="_blank">
                    <img src="./images/hl-building-agents.png"/>
                    <br/>                
                    Building AI agents with AWS Serverless
                </a>
                <br/>
                [
                <a href="https://youtu.be/OuiUEPO7PB8" target="_blank">Webinar</a>,
                <a href="https://aws.amazon.com/blogs/compute/effectively-building-ai-agents-on-aws-serverless/" target="_blank">AWS Article</a>,
                <a href="https://www.hashicorp.com/en/resources/deploying-serverless-ai-agents-on-aws-with-terraform-and-securing-them-with-hcp-v">HashiCorp Article</a>,
                <a href="https://www.okta.com/blog/ai/securing-serverless-ai-agents-and-mcp-servers-on-aws-with-okta/">Okta Article</a>,
                <a href="https://github.com/aws-samples/sample-serverless-mcp-servers">Code</a>
                ]
            </div>
            <div class="col text-center"> <!-- Fourth card -->
                <a href="https://aws.amazon.com/blogs/architecture/how-zapier-runs-isolated-tasks-on-aws-lambda-and-upgrades-functions-at-scale/" class="text-decoration-none text-reset" target="_blank">
                    <img src="./images/hl-running-saas.png"/>
                    <br/>                
                    Efficiently running SaaS Platforms on AWS
                </a>
                <br/>
                [
                <a href="https://aws.amazon.com/blogs/architecture/how-zapier-runs-isolated-tasks-on-aws-lambda-and-upgrades-functions-at-scale/" target="_blank">Zapier</a>,
                <a href="https://aws.amazon.com/blogs/architecture/how-launchpad-from-pega-enables-secure-saas-extensibility-with-aws-lambda/" target="_blank">Pega Systems</a>,
                <a href="https://aws.amazon.com/blogs/architecture/how-smartsheet-reduced-latency-and-optimized-costs-in-their-serverless-architecture/">Smartsheet</a>,
                <a href="https://aws.amazon.com/blogs/architecture/how-seatgeek-uses-aws-to-control-authorization-authentication-and-rate-limiting-in-a-multi-tenant-saas-application/">SeatGeek</a>,
                <a href="https://aws.amazon.com/blogs/architecture/how-cyberark-is-streamlining-serverless-governance-by-codifying-architectural-blueprints/">CyberArk</a>,
                <a href="https://aws.amazon.com/blogs/compute/building-responsive-apis-with-amazon-api-gateway-response-streaming/">Salesforce</a>                
                ]
            </div>

            <div class="col text-center"> <!-- Fifth card -->
                <a href="https://youtu.be/KlM2M_u0v14" class="text-decoration-none text-reset" target="_blank">
                    <img src="./images/hl-security.png"/>
                    <br/>                
                    Modernizing Cloud Security with Industry Partners
                </a>
                <br/>
                [
                <a href="https://youtu.be/KlM2M_u0v14" target="_blank">Webinar</a>,
                <a href="https://aws.amazon.com/blogs/compute/enhancing-multi-account-activity-monitoring-with-event-driven-architectures/" target="_blank">Threat detection</a>,
                <a href="https://developer.nvidia.com/blog/automate-early-security-patching-in-ci-pipelines-on-aws-using-nvidia-ai-blueprints/" target="_blank">CVE Patching</a>,
                <a href="https://aws.amazon.com/blogs/compute/monitoring-network-traffic-in-aws-lambda-functions/" target="_blank">Network monitoring</a>,
                <a href="https://aws.amazon.com/blogs/compute/enhancing-api-security-with-amazon-api-gateway-tls-security-policies/" target="_blank">API Security</a>              
                ]

            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12 col-lg-6">
{% capture publications %}
{% include publications.md %}
{% endcapture %}
{{ publications | markdownify }}
            </div>
            <div class="col-12 col-lg-6">
{% capture talks %}
{% include talks.md %}
{% endcapture %}
{{ talks | markdownify }}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
{% capture code %}
{% include code.md %}
{% endcapture %}
{{ code | markdownify }}
            </div>
            <div class="col-12 col-lg-6">
{% capture reviewer %}
{% include reviewer.md %}
{% endcapture %}
{{ reviewer | markdownify }}

{% capture patents %}
{% include patents.md %}
{% endcapture %}
{{ patents | markdownify }}

            </div>
        </div>
    
        <div class="row">
            <h2>Oldies, but still goodies (<a href="#top">↑</a>)</h2>
            <div class="col-12 col-lg-6">
{% capture oldies1 %}
{% include oldies1.md %}
{% endcapture %}
{{ oldies1 | markdownify }}
            </div>
            <div class="col-12 col-lg-6">
{% capture oldies2 %}
{% include oldies2.md %}
{% endcapture %}
{{ oldies2 | markdownify }}
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('a').forEach(link => {
            if (link.href.includes(document.location.host)) return;
            link.setAttribute('target', '_blank');
        });
    </script>
</body>
</html>
